@media screen and (max-width: 1634px) {
  .header-section .navber-section {
    max-width: 95vw;
  }

  .right-and-left-side{
    padding: 0 48px 0 38px;
  }
  
  .about{
    padding: 0 48px 0 48px;
  }

  .skills{
    padding: 0 34px 0 34px;
  }

  .experience{
    padding: 0 44px 0 44px;
  }

  .services{
    padding: 0 44px 0 44px;
  }
}

@media screen and (max-width: 1588px){
  .skills .skills-text{
    font-size: 78px;
  }

  .skills .skills-container .sub-containers .technical-skills-container #text-1{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    margin-top: 8px;
    width: 568px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .icons{
    width: 34px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .progress-bar{
    height: 22px;
    width: 568px;
  }

  .skills .skills-container .sub-containers .performence-skills-container #text-2{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-1{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-2{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 278px;
    height: 278px;
    margin-bottom: 16px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 244px;
    height: 244px;
  }

  .experience .experience-text{
    font-size: 78px;
  }

  .services .services-text{
    font-size: 78px;
  }

  .contact .contact-text{
    font-size: 78px;
  }
}

@media screen and (max-width: 1344px){
  .skills .skills-text{
    font-size: 78px;
  }

  .skills .skills-container .sub-containers .technical-skills-container #text-1{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    margin-top: 8px;
    width: 568px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .icons{
    width: 34px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    height: 22px;
    width: 568px;
  }

  .skills .skills-container .sub-containers .performence-skills-container #text-2{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-1{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-2{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 278px;
    height: 278px;
    margin-bottom: 16px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 244px;
    height: 244px;
  }

  .experience .experience-text{
    font-size: 78px;
  }

  .services .services-text{
    font-size: 78px;
  }

  .contact .contact-text{
    font-size: 78px;
  }
}

@media screen and (max-width: 1288px){
  .services{
    height: 134vh;
  }

  .services .services-container .sub-containers{
    margin: 88px 0 0 0;
  }
}

@media screen and (max-width: 1280px){
  .right-and-left-side .right-side{
    gap: 44px;
  }

  .right-and-left-side .right-side .text-1{
    font-size: 44px;
  }
  
  .right-and-left-side .right-side .text-2{
    font-size: 26px;
  }
  
  .right-and-left-side .right-side .buttons{
    display: flex;
    gap: 48px;
  }

  .right-and-left-side .right-side .buttons a #button{
    font-size: 16px;
  }

  .right-and-left-side .right-side .social-links{
    display: flex;
    gap: 78px;
  }
  
  .right-and-left-side .left-side .background-image{
    width: 368px;
  }

  .about .about-text{
    font-size: 58px;
  }

  .about .about-container{
    display: flex;
    gap: 168px;
  }

  .about .about-container .background-image{
    width: 368px;
  }

  .about .about-container p{
    font-size: 16px;
    font-weight: 588;
    letter-spacing: 2px;
    line-height: 44px;
  }
  
  .skills .skills-text{
    font-size: 58px;
  }

  .skills .skills-container .sub-containers .technical-skills-container #text-1{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    margin-top: 8px;
    width: 568px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .icons{
    width: 34px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    height: 22px;
    width: 568px;
  }

  .skills .skills-container .sub-containers .performence-skills-container #text-2{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-1{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-2{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 278px;
    height: 278px;
    margin-bottom: 16px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 244px;
    height: 244px;
  }

  .experinece .experience-text{
    font-size: 58px;
  }

  .services .services-text{
    font-size: 58px;
  }

  .contact .contact-text{
    font-size: 58px;
  }
}

@media screen and (max-width: 1254px) {
  .right-and-left-side .right-side .text-1 {
    font-size: 44px;
  }

  .right-and-left-side .right-side .text-2 {
    font-size: 26px;
  }

  .right-and-left-side .right-side .buttons {
    display: flex;
    gap: 54px;
  }

  .right-and-left-side .right-side .buttons #button a {
    font-size: 16px;
  }

  .right-and-left-side .right-side .social-links {
    display: flex;
    gap: 78px;
  }

  .right-and-left-side .left-side .background-image {
    width: 416px;
  }

  .about .about-text {
    font-size: 78px;
  }

  .about .about-container {
    display: flex;
    gap: 168px;
  }

  .about .about-container .background-image {
    width: 416px;
  }

  .about .about-container p {
    font-size: 16px;
    font-weight: 588;
    letter-spacing: 2px;
    line-height: 54px;
  }

  .skills .skills-text{
    font-size: 78px;
  }

  .skills .skills-container .sub-containers .technical-skills-container #text-1{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    margin-top: 8px;
    width: 488px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .icons{
    width: 34px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    height: 22px;
    width: 488px;
  }

  .skills .skills-container .sub-containers .performence-skills-container #text-2{
    font-size: 26px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-1{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .progress-container-2{
    display: flex;
    gap: 44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 244px;
    height: 244px;
    margin-bottom: 16px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 216px;
    height: 216px;
  }

  .experience .experience-text{
    font-size: 44px;
  }

  .services .services-text{
    font-size: 44px;
  }

  .contact .contact-text{
    font-size: 44px;
  }
}

@media screen and (max-width: 1126px){
  .skills .skills-text{
    font-size: 68px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    width: 434px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .icons{
    width: 26px;
  }
  
  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    width: 434px;
  }
  
  .skills .skills-container .sub-containers .performence-skills-container .progress-container-1{
    display: flex;
    gap: 26px;
  }
  
  .skills .skills-container .sub-containers .performence-skills-container .progress-container-2{
    display: flex;
    gap: 26px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 216px;
    height: 216px;
  }
  
  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 188px;
    height: 188px;
  }

  .experience .experience-text{
    font-size: 44px;
  }

  .services .services-text{
    font-size: 44px;
  }

  .contact .contact-text{
    font-size: 44px;
  }
}

@media screen and (max-width: 1048px){
  .experience{
    height: 178vh;
  }
}

@media screen and (max-width: 976px) {
  .header-section .navber-section {
    height: 60px;
  }

  .header-section .navber-section .logo{
    font-size: 22.44px;
  }

  .header-section .navber-section .hamburger {
    display: block;
  }

  .header-section .navber-section .hamburger {
    display: flex;
  }

  .header-section .navber-section .hamburger .bar {
    border-radius: 16px;
  }

  .header-section .navber-section .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .header-section .navber-section .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header-section .navber-section .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-section .navber-section .navber-links {
    position: fixed;
    right: -100%;
    top: 58px;
    gap: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 34, 0) , rgb(0, 116, 0));
    backdrop-filter: blur(26px);
    width: 100%;
    height: 100vh;
    transition: all 0.8s;
  }

  .header-section .navber-section .navber-links.active {
    right: 0;
  }

  .header-section .navber-section .navber-links li a{
    color: white;
  }

  .right-and-left-side {
    display: flex;
    flex-direction: column-reverse;
    margin: 94px 0 0 0;
    padding: 0 0 126px 0;
    /* height: 88vh; */
  }

  .right-and-left-side .right-side {
    display: flex;
    gap: 26px;
    /* margin: 116px 0 0 0; */
  }

  .about .about-text {
    font-size: 54px;
  }

  .about .about-container {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin: 44px 0 0 0;
  }

  .about .about-container p {
    text-align: center;
    line-height: 34px;
  }

  .skills{
    height: 152vh;
  }

  .skills .skills-text{
    font-size: 54px;
  }

  .skills .skills-container .sub-containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }

  /* .skills .skills-container .sub-containers .technical-skills-container .skill{
    margin-bottom: 8px;
  } */

  .skills .skills-container .sub-containers .technical-skills-container .skill h3{
    font-size: 16px;
    margin-bottom: 4px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    height: 16px;
  }

  .skills .skills-container .sub-containers .technical-skills-container #text-1{
    font-size: 22px;
    margin-top: 26px;
  }

  .skills .skills-container .sub-containers .performence-skills-container #text-2{
    font-size: 22px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .text{
    font-size: 16px;
    font-weight: 558;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    font-size: 16px;
    font-weight: 558;
  }

  .experience .experience-text{
    font-size: 34px;
  }

  .services .services-text{
    font-size: 34px;
  }

  .contact .contact-text{
    font-size: 34px;
  }
}

@media screen and (max-width: 810px){
  .services{
    height: 184vh;
  }
}

@media screen and (max-width: 668px){
  .about{
    height: 112vh;
  }
}

@media screen and (max-width: 568px){
  .experience{
    height: 316vh;
  }

  .experience .experience-container .sub-containers .experience-card-container{
    justify-content: center;
  }

  .services{
    height: 268vh;
  }

  .services .services-container .sub-containers .services-card-container{
    justify-content: center;
  }
}

@media screen and (max-width: 526px) {
  .right-and-left-side {
    margin: 116px 0 0 0;
    padding: 0 0 168px 0;
  }

  .right-and-left-side .right-side .text-1 {
    font-size: 34px;
  }

  .right-and-left-side .right-side .buttons {
    display: flex;
    gap: 16px;
  }

  .right-and-left-side .right-side .social-links {
    display: flex;
    gap: 54px;
  }

  .right-and-left-side .left-side .background-image {
    width: 368px;
  }

  .about .about-text {
    font-size: 34px;
  }

  .about .about-container .background-image {
    width: 368px;
  }

  .skills{
    height: 138vh;
  }
  
  .skills .skills-text{
    font-size: 34px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    width: 388px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    width: 388px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 188px;
    height: 188px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .text{
    font-size: 13.44px;
    font-weight: 788;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 158px;
    height: 158px;
  }

  .experience .experience-text{
    font-size: 34px;
  }

  .services .services-text{
    font-size: 34px;
  }

  .contact .contact-text{
    font-size: 34px;
  }
}

@media screen and (max-width: 454px){
  .skills{
    height: 112vh;
  }

  .skills .skills-container .sub-containers .technical-skills-container #text-1{
    font-size: 16px;
    font-weight: 788;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    width: 358px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .icons{
    width: 22.44px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill h3{
    font-size: 12.44px;
    font-weight: 788;
    margin-bottom: 2px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    width: 358px;
    height: 12.44px;
  }

  .skills .skills-container .sub-containers .performence-skills-container #text-2{
    font-size: 16px;
    font-weight: 788;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 168px;
    height: 168px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 148px;
    height: 148px;
    font-size: 12.44px;
    font-weight: 788;
  }

  .contact .form-container .form-group input{
    padding: 0 54px 0 54px;
  }

  .contact .form-container .send-button{
    padding: 8px 26px 8px 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 394px) {
  .right-and-left-side .left-side .background-image {
    width: 344px;
  }

  .about .about-container .background-image {
    width: 344px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    width: 334px;
  }
  
  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    width: 334px;
  }
  
  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 154px;
    height: 154px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 134px;
    height: 134px;
  }
}

@media screen and (max-width: 388px) {
  .right-and-left-side {
    padding: 0 0 188px 0;
  }

  .right-and-left-side .right-side .text-1 {
    font-size: 31.22px;
  }

  .right-and-left-side .right-side .text-2 {
    font-size: 16px;
  }

  .right-and-left-side .right-side .buttons {
    display: flex;
    gap: 16px;
  }

  .right-and-left-side .right-side .buttons #button {
    padding: 4px 8px 4px 8px;
  }

  .right-and-left-side .right-side .buttons #button a {
    font-size: 12.44px;
  }

  .right-and-left-side .right-side .social-links img {
    width: 34px;
  }

  .right-andleft-side .left-side .background-image {
    width: 316px;
  }

  .about .about-container .background-image {
    width: 316px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    width: 316px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    width: 316px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 148px;
    height: 148px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 128px;
    height: 128px;
  }
}

@media screen and (max-width: 348px) {
  .right-and-left-side .left-side .background-image {
    width: 288px;
  }

  .about .about-container .background-image {
    width: 288px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill{
    width: 288px;
  }

  .skills .skills-container .sub-containers .technical-skills-container .skill .progress-bar{
    width: 288px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress{
    width: 138px;
    height: 138px;
  }

  .skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
    width: 122px;
    height: 122px;
  }
}