@media screen and (max-width: 1634px){
    .header-section .navber-section{
        max-width: 95vw;
    }
}

@media screen and (max-width: 1116px){
    .header-section .navber-section .hamburger{
        display: block;
    }

    .header-section .navber-section .hamburger{
        display: flex;
    }

    .header-section .navber-section .hamburger .bar{
        border-radius: 16px;
    }

    .header-section .navber-section .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .header-section .navber-section .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .header-section .navber-section .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-section .navber-section .navber-links{
        position: fixed;
        right: -100%;
        top: 68px;
        gap: 54px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--body-color);
        width: 100%;
        height: 100vh;
        transition: all 0.8s;
    }

    .header-section .navber-section .navber-links.active{
        right: 0;
    }
}