/* ======== HEADER-SECTION-START ======== */

:root {
  --header-color: rgb(255, 255, 255);
  --body-color: rgb(244, 252, 244);
  --button-color: rgb(88, 255, 88);
  --border-color: rgb(88, 255, 88);
  --text-color: rgb(88, 255, 88);
  --progress-bar-color: rgb(16, 226, 16);
  --hover-color: rgb(0, 244, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header-section {
  background-color: var(--header-color);
  box-shadow: 4px 4px 2.8px 0 rgba(88, 255, 88, 788);
  position: fixed;
  top: 0;
  width: 100%;
}

/* ==== NAVBER-SECTION-START ==== */

.navber-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  max-width: 80vw;
  margin: auto;
}

.navber-section .logo {
  font-size: 26px;
  animation: slideRight 0.8s forwards;
}

.navber-section .navber-links {
  display: flex;
  gap: 26px;
  animation: slideLeft 0.8s forwards;
}

.navber-section .navber-links li {
  list-style: none;
}

.navber-section .navber-links li a {
  text-decoration: none;
  font-weight: 588;
  letter-spacing: .88px;
  color: black;
}

.navber-section .navber-links li a:hover{
  color: var(--hover-color);
  text-decoration: underline;
  transition: all 0.8ms;
}

.navber-section .hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.navber-section .hamburger .bar {
  width: 26px;
  height: 4px;
  background-color: black;
  border-radius: 8px;
  display: block;
}

/* ==== NAVBER-SECTION-COMPLETE ==== */

/* ======== HEADER-SECTION-COMPLETE ======== */

/* ======== BODY-SECTION-START ======== */

body {
  background-color: var(--body-color);
}

.body-section {
  max-width: 80vw;
  margin: auto;
}

/* ==== RIGHT-AND-LEFT-START ==== */

.right-and-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.right-and-left-side .right-side {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.right-and-left-side .right-side .text-1 {
  font-size: 58px;
  animation: slideRight 0.8s forwards;
}

.right-and-left-side .right-side .text-2 {
  font-size: 34px;
}

.right-and-left-side .right-side .buttons {
  display: flex;
  gap: 54px;
}

.right-and-left-side .right-side .buttons #button {
  background-color: var(--button-color);
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px 0;
  padding: 8px 16px 8px 16px;
}

.right-and-left-side .right-side .buttons #button:hover {
  background-color: var(--hover-color);
  transition: all 0.8s;
}

.right-and-left-side .right-side .buttons a {
  text-decoration: none;
  color: black;
  font-size: 26px;
}

.right-and-left-side .right-side .social-links {
  display: flex;
  gap: 116px;
}

.right-and-left-side .left-side .background-image {
  width: 488px;
  border-radius: 50%;
  box-shadow: 0 0 16px 16px rgba(88, 255, 88, 788);
}

/* ==== RIGHT-AND-LEFT-COMPLETE ==== */

/* ==== ABOUT-START ==== */

.about {
  height: 100vh;
}

.about .about-text {
  text-align: center;
  font-size: 88px;
  letter-spacing: 8px;
}

.about .about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 288px;
  height: 78vh;
}

.about .about-container .background-image {
  width: 488px;
  border-radius: 50%;
  box-shadow: 0 0 16px 16px rgba(88, 255, 88, 788);
}

.about .about-container p {
  font-size: 26px;
  line-height: 58px;
}

/* ==== ABOUT-COMPLETE ==== */

/* ==== SKILL-START ==== */

.skills{
  height: 100vh;
}

.skills .skills-text{
  text-align: center;
  font-size: 88px;
  letter-spacing: 8px;
}

.skills .skills-container .sub-containers{
  display: flex;
  justify-content: space-between;
}

/* .skills .skills-container .sub-containers .technical-skills-container{
  background-color: white;
} */

.skills .skills-container .sub-containers .technical-skills-container #text-1{
  font-size: 34px;
  /* margin: 0 0 0 134px; */
  text-align: center;
  text-decoration: underline;
  letter-spacing: 4px;
}

.skill {
  margin-top: 26px;
  margin-bottom: 26px;
  width: 588px;
}

.skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.progress-bar {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: 26px;
  width: 588px;
}

.progress {
  background: var(--progress-bar-color);
  height: 100%;
  width: 0;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 2s ease-in-out;
}

.skills .skills-container .sub-containers .performence-skills-container #text-2{
  font-size: 34px;
  /* margin: 0 134px 0 0; */
  text-align: center;
  text-decoration: underline;
  letter-spacing: 4px;
}

.skills .skills-container .sub-containers .performence-skills-container .progress-container-1{
  display: flex;
  gap: 54px;
}

.skills .skills-container .sub-containers .performence-skills-container .progress-container-2{
  display: flex;
  gap: 54px;
}

.skills .skills-container .sub-containers .performence-skills-container .circular-progress{
  background-color: conic-gradient(white 0%, rgb(16, 226, 16) 0%);
  position: relative;
  width: 288px;
  height: 288px;
  border-radius: 50%;
  margin-top: 26px;
  margin-bottom: 26px;
}

.skills .skills-container .sub-containers .performence-skills-container .circular-progress .progress-value{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 254px;
  height: 254px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  letter-spacing: 2px;
}

.skills .skills-container .sub-containers .performence-skills-container .circular-progress .text{
  display: flex;
  justify-content: center;
  font-size: 26px;
  letter-spacing: 2px;
}