/* ======== HEADER-SECTION-START ======== */

:root{
    --header-color: rgb(255, 255, 255);
    --body-color: rgb(244, 252, 244);
    --button-color: rgb(88, 255, 88);
    --border-color: rgb(88, 255, 88);
    --text-color: rgb(88, 255, 88);
    --progress-bar-color: rgb(16, 226, 16);
    --hover-color: rgb(0, 244, 0);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header-section{
    background-color: var(--header-color);
    box-shadow: 4px 4px 2.8px 0 rgba(88, 255, 88, 788);
    position: fixed;
    top: 0;
    width: 100%;
}

/* ==== NAVBER-SECTION-START ==== */

.navber-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    max-width: 80vw;
    margin: auto;
}

.navber-section .logo{
    font-size: 26px;
}

.navber-section .navber-links{
    display: flex;
    gap: 16px;
}

.navber-section .navber-links li{
    list-style: none;
}

.navber-section .navber-links li a{
    text-decoration: none;
    color: black;
}

.navber-section .hamburger{
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
}

.navber-section .hamburger .bar{
    width: 26px;
    height: 4px;
    background-color: black;
    border-radius: 8px;
    display: block;
}